:root {
  --cont-prime: #FFFFFF;
  --cont-secon: #98959D;
  --cont-terti: #666666;
  --cont-brand: #9282FA;

  --back-prime: #151515;
  --back-secon: #1E1E1E;
  --back-brand: #9282FA;

  --bord-prime: #3E3C41;
  --bord-divis: #353339;

  --title   : 700 1.5rem/2rem "Inter Tight", sans-serif;
  --parag-md: 500 0.875rem/1.5rem "Inter", sans-serif;
  --parag-sm: 500 0.75rem/1rem "Inter", sans-serif;
  --label-lg: 700 1rem/1rem "Inter", sans-serif;
  --label-md: 700 0.875rem/1.5rem "Inter", sans-serif;
  --label-sm: 700 0.75rem/1rem "Inter", sans-serif;
  --link    : 500 0.75rem/1rem "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--back-prime);
  color: var(--cont-prime);
  font: var(--parag-md);
  min-height: 100vh;
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input, textarea {
  font-family: inherit;
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}